[submodule "UWrMaxSat"]
	path = UWrMaxSat
	url = git@github.com:marekpiotrow/UWrMaxSat.git
[submodule "cadical"]
	path = cadical
	url = git@github.com:arminbiere/cadical.git
[submodule "cominisatps"]
	path = cominisatps
	url = git@github.com:marekpiotrow/cominisatps.git
